.Landing-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    /* padding: 0px 40px; */
}

.landing-row1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;

}
.landing-heading-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    
}
.landing-image-container{
    display: flex;
    align-items: center;
   
}
.landing-heading{
    font-size: 45px;
}
.landing-para{
    color: gray;

}
.spot-image-container{
    height: 300px;
    width: 200px;
    margin-top: -70px;
   
    
}

.spot-image{
    height: 100%;
}
.spot-man-container{
    height: 450px;
   

}
.spot-man-image{
    height: 100%;

}
.landing-row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    width: 100%;
    position: relative;


}
.landing-row2-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.landing-vector{
   
    
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: -10;
    left:  0;
    /* bottom: 0; */
    width: 600px;
    height: 440px;
    margin-left: -120px;

}
.vector-img{
    height: 100%;
    width: 100%;
   
}
.landing-moreus-img{
    height: 470px;

}
.moreus-img{
    height: 100%;

}
.landing-row2-about-us-container{
   
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    gap: 5px;
    

}