.header-container {
    display: flex;
   align-items: flex-start;
    justify-content: space-between;
    padding: 20px 80px;
}
.nav-item-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    
}
span{
    font-family: Poppins;
    font-weight: 600;

}
.logo-container{
    height: 40px;
}
.logo {
    height: 100%;
   
}