* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('./Assets/background\ -\ spotlight.svg');
  font-family: Poppins;

}
button{
  padding: 15px;
  border-radius: 30px;
  width: 140px;
  background-color: #FBD573;
  outline: none;
  border:none;
  font-family: Poppins;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.section-container {
  
}